<div class="container">
	

	<h1>Titulo</h1>

	<p>Find me in app/views/welcome/index.html.erb</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, libero tempore fugiat ratione velit reprehenderit dicta quam odit consequuntur unde dolor. Reprehenderit pariatur ut quis ipsam, unde soluta, explicabo odio.</p>
	<img src="https://liberadalinux.files.wordpress.com/2013/11/720px-arduino_logo-svg.png" alt="Logo de arduino"><br>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quos, numquam cumque illum at quis. Ipsa maxime nihil perferendis labore, debitis sit magni a, error quas blanditiis, cum, minus adipisci.</p>
		</div>
	
		<div class="col-md-4">	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sapiente odio itaque dicta dolor provident, ipsa praesentium? Perspiciatis optio nisi laboriosam ipsam explicabo et tenetur. Eaque officiis atque corrupti, itaque!
			<a href="#" class="btn btn-info">Read More
			<span class="glyphicon glyphicon-plus-sign"></span>
			</a>
			
			</p>
		</div>
		<div class="col-md-4">	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sapiente odio itaque dicta dolor provident, ipsa praesentium? Perspiciatis optio nisi laboriosam ipsam explicabo et tenetur. Eaque officiis atque corrupti, itaque!
			<button class="btn btn-info"><span class="glyphicon glyphicon-plus-sign" style="color:red"></span></button>
			</p>
		</div>
	</div>	
</div>	